*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    width: 100%;
    /* height: 125px; */
    background-color: antiquewhite;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    font-family: ;
}

.gizle{
    list-style: none;
}

.gizlee:hover{
    background-color: hotpink;
}

.gizle .gizlee{
    display: none;
    text-decoration: none;
}

.listasil{
    text-decoration: none;
}

.gif{
    width: 100px;
    height: 100px;
    background-image: url(./horse.gif);
    background-position: center;
}

.logo{
   width: 120px;
   padding: 5px;
}
.logo img{
    width: 100%;
}

.list{
    display: flex;
    gap: 20px;
    list-style-type: none;
    font-size: large;
    font-weight: bold;
    margin-top: 20px;
}


.list-item a{
    color: #551A8B;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 20px;
    font-size: 30px;
    padding: 5px;
}

.list-item a:hover{
    background-color: hotpink;
    color: antiquewhite;
}

.container{
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0px;
    background-image: url(./img/contentimg1.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
    background-color: rgba(250, 235, 215, 0.446);
    border-radius: 20px;
}

.title{
    font-size: 20px;
    font-weight: bold;
    color: midnightblue;
}

.butons{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 20px;
}

.btn{
    text-align: center;
    width: 100%;
    font-size: 20px;
    border-radius: 20px;
    padding: 10px;
    border: 2px solid midnightblue;
}

.btn:hover{
    color: purple;
    background-color: whitesmoke;
}

.cizgi{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    
}

.content input{
    width: 100%;
    font-size: 20px;
}

.inp{
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

.inp input{
    padding: 10px;
    border-radius: 20px;
}

.inp input::placeholder{
    font-size: 12px;
}

.cizgi{
    display: flex;
    flex-direction: row;
    margin: 0px 10px;
}

.cizgi span{
    color: rgb(178, 178, 178)
}

.ciz{
    width: 50px;
    border: 1px solid rgb(226, 226, 226);
}

.inp p{
    text-align: center;
    font-size: 14px;
}

.inp p a{
    text-decoration: none;
    color: rgb(253, 253, 253);
}
.inp p a:hover{
    text-decoration: underline;
    color: hotpink;
}

.enalt{
    display: flex;
    flex-direction: column;
    align-items: center;
        
}

.enalt ul{
    display: flex;
    text-decoration: none;
    gap: 20px;
    padding: 10px;
    list-style-type: none;
}

.enalt ul li{
    font-size: 12px;
}

ul .dil{
    background-color: transparent;
    border: none;
    outline: none;
}

.enalt ul li a{
    text-decoration: none;
    color: black;
}
.enalt ul li a:hover{
    color: hotpink;
}

hr{
    margin: 10px 0px;
}

span{
    color: goldenrod;
    padding: 10px;
    font-weight: bold;
    pointer-events: none;
}

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background-color: wheat;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(90, 18, 90);
    border: 3px solid rgb(255, 255, 255);
}

@font-face { 
    font-family: Animals; src: url('animal.ttf');
} 
.navbar{
    font-family: Animals;
}

@media (max-width:800px) {
    .gif{
        display: none;
    }
  
}

@media (max-width:665px){ 
   
    .navbar{
        display: flex;
        justify-content: space-between;
        padding: 10px;
    }
    
    .gizle .gizlee{
        display: initial;
    }
    
    .listasil a {
        text-decoration: none;
        font-weight: 400px;
        font-size: 16px;
        display: block;
    }
      
    .listasil > li {
        position: relative;
        /* display: inline-block; */
    }
    
    .listasil .list .list-item a{
        background-color: antiquewhite;
    }
    
    .listasil .list .list-item a:hover{
        background-color: hotpink;
    }
      
    .listasil > li > a {
        color: #551A8B;
        font-size: 30px;
        background:transparent;
        border: 2px solid black;
        padding: 20px 25px;
        border-radius: 20px;
    }
     
    .listasil > li ul {
        position: absolute;
        display: none;
        top: 100%;
        right: 12px;
        width: 100px;
        background-color: transparent;
        border-radius: 20px;
    }
      
    .listasil > li ul li a {
        color: #551A8B;
        padding: 10px 15px;
        
    }
      
    .listasil > li ul li:hover a {
        background-color: hotpink;
        color: antiquewhite;
        transform: scale(1.2);
    }
      
    .listasil > li:hover ul {
        display: block;
    }

    .list{
        gap: 5px;
    }

    .list li a{
        font-size: 16px;
        /* position: fixed;
        top: 0 ; */
       }
}
@media (max-width:450px) {

    .logo img{
            width: 80%;
            margin: auto;
        }
    
    .listasil > li ul {
            top: 0;
            right: 0;
            padding-top: 16px;
            right: -4px;
            width: 90px;
            background-color: transparent;
            border-radius: 20px;
        }
    
        .listasil > li > a {
            font-size: 20px;
            padding: 10px 15px;
        }
    
        .listasil a {
            font-weight: 100px;
            font-size: 12px;
        }

        .enalt ul{
            gap: 5px;
        }
        .enalt li a{
           font-size: 14px;
        }
        .enalt span{
            font-size: 12px;
         }
         .dil{
            font-size: 8px;
        }
         
    }

@media (max-width:300px) {
    .enalt li a{
        font-size: 10px;
    }
}